body{
	background-color: gray;
	font-family: arial;
	background-image: url("images/pagebg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	background-attachment: fixed;
}

.container{
	height: 300px;
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
	.avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: calc(50% - 73px);
	}
	.container h1, p, a{
		text-align: center;
	}
	.container h1{
		font-size: 50px;
		color: rgb(0, 0, 0);
		margin-bottom: 0px;
	}
	.container p{
		margin-top: 0px;
		font-size: 15px;
		color: black;
		font-weight: bold;
		margin-bottom: 30px;
	}
	.container a{
		display: block;
		background-color: rgb(214, 56, 16);
		padding: 20px;
		text-decoration: none;
		border-radius: 30px 0 30px 0; 
		font-size: 30px;
		color: #ffffff;
		font-weight: bold;
	}

/** style for form page **/

.cont-form{
	display: inline-block;
	padding: 50px 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.55); 
	border-radius: 15px;
}

	.cont-form td{
		padding: 5px;
	}

	/**style for errors**/
	.cont-form span{
		text-align: center;
		display: block;
		color: rgba(236, 253, 0, 0.911);
		font-weight: bold;
	}
	.signUpSuc{
		text-align: center;
		display: block;
		color: rgb(255, 255, 255);
		font-weight: bold;
	}
	.txtbox{
		height: 40px;
		width: 300px;
		text-align: center;
		font-size: 19px;
		border-radius: 10px 0 10px 0;
		border: 0px; 
		background-color: rgba(255, 255, 255);
		
	}
	.btn1, .btn2{
		border: 0px;
		border-radius: 5px; 
		color: rgba(255, 255, 255);
	}
	.btn1{
		width: 150px;
		height: 35px;
		padding: 10px 40px;
		background-color: rgba(0, 255, 0, .5); 
	}
	.btn2{
		width: 150px;
		height: 35px;
		padding: 10px 40px;
		background-color: rgba(255, 0, 0, .5); 
	}




	